body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:384px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:26px;
  width:387px;
  height:384px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:257px;
  width:291px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:309px;
  width:291px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
